body{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'bbc';
    src: url(images/FontsNinja-0.1.35.exe);
}
.material-symbols-outlined {
    user-select: none;
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24;
  
}


.material-symbols-outlined:hover{
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #0178FF;
}
#acima{
    display: inline-block;
    background-color: blue;
    height: 50px;
    width: 100vw;
}
menu{
    background-image: url(images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25vh;
}

article{
    background-color: #00293D;
    height: 200px;
}
#unit{
    padding: 20px;
    margin-top: -20px;
    background-color: #001C2A;
    text-align: center;
}
#abas{
    text-align: center;
    display: inline-block;
    padding: 20px;
    height: 20px;
    width: fit-content;
    background-color: white;
}
#abas a{
    position: relative;
    vertical-align: middle;
    text-decoration: none;
    color: #00293D;
    font-size: 1.2em;
    margin: 10px;
    padding: 5px;
}

#unit p{
    color: white;
}
button{
    width: 30px;
    height: 10px;
    background-color: rgb(201, 201, 201);
    color: white;
    border: none;
    margin: -1px;
    border-radius: 1px;
}

button:hover{
    background-color: #FFFFFF;
}
button:active{
    background-color: #62BBB9;
}
article{
    padding: 20px;
}

article span{
    position: relative;
    color: white;
    font-size: 2em;
    left: 25%;
}
article #mol{
    font-size: 4em;
}
article span span{
    font-size: 2.5em;
}
#user{
    display: none;
}
#menulegend{
    display: block;
    position: relative;
    top: 40px;
}
#title{
    font-family: "bbc";
    font-size: 2em;
    position: relative;
    top: 40px;
}
#title2{
    display: none;
}
#language2{
    display: none;
}
@media screen and (max-width:1010px){
    menu{
        height: 30vh;
    }
    article span{
        display: none;
    }
    #sign{
        transform: translate(0%, -50%);
        position: relative;
        top: 50%;
        left: 5%;
        color: white;
        font-size: 2em;
    }
    #bbc{
        transform: translate(-50%, 25%);
        position: absolute;
        vertical-align: middle;
        height: 2em;
        left: 50%;
    }

    #unit{
        height: 50px;
        padding: 20px;
        margin-top: -20px;
        background-color: #001C2A;
        width: 100vw;
        text-align: center;
    }
    article{
        width: 100vw;
        background-color: #00293D;
        height: 20px;
    }
    
    #unit div, span{
        display: none;
    }
    #menulegend{
        display: none;
    }
    #title{
        display: none;
    }
    #title2{
        transform: translate(-0%, -100%);
        position: relative;
        display: block;
        font-size: 2em;
        top: 50%;
    }
}