body{
    padding: 0px;
    margin: 0px;
}
.material-symbols-outlined {
    user-select: none;
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24;
  
}
.material-symbols-outlined:hover{
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #0178FF;
}
#acima{
    display: inline-block;
    background-color: blue;
    height: 50px;
    width: 100vw;
}
header{
    height: 50px;
    width: 100vw;
    background-color: blue;
}
menu{
    background-image: url(images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    margin: 0px;
}

article{
    background-color: #00293D;
    height: 200px;
}
#unit{
    padding: 20px;
    margin-top: -20px;
    background-color: #001C2A;
    text-align: center;
}
#abas{
    text-align: center;
    display: inline-block;
    padding: 20px;
    height: 20px;
    width: fit-content;
    background-color: white;
}
#abas a{
    position: relative;
    vertical-align: middle;
    text-decoration: none;
    color: #00293D;
    font-size: 1.2em;
    margin: 10px;
    padding: 5px;

}
#abas a:hover{
    text-decoration: underline;
}
#space{
    display: inline-block;
    margin-right: 200px;
}
#lupa1{
    pointer-events: none;

}

article span{
    position: relative;
    color: white;
    font-size: 2em;
    left: 25%;
}
#tipocursos{
    position: relative;
    height: 50px;
    background-color: #62BBB9;
}
article #mol{
    font-size: 4em;
}
article span span{
    font-size: 2.5em;
}
#user{
    display: none;
}
#sign{
    transform: translate(0%, -50%);
    position: relative;
    top: 50%;
    color: white;
    left: 1%;
}
#menulegend{
    position: relative;
    display: block;
    position: relative;
    top: 30px;
}
article span{
    position: relative;
    top: 10%;
    left: 5%;
}
#title{
    position: relative;
    font-family: "bbc";
    font-size: 2em;
    top: 30px;
    position: relative;
}
#title2{
    display: none;
}
#language2{
    display: none;
}
@media screen and (max-width:1010px){
    menu{
        height: 150px;
    }
    article span{
        display: none;
    }
    #sign{
        transform: translate(0%, -50%);
        position: relative;
        top: 50%;
        left: 5%;
        color: white;
        font-size: 2em;
    }
    article{
        height: 40px;
        background-color: #00293D;
    }
    
    #unit div, span{
        display: none;
    }
    #menulegend{
        display: none;
    }
    #title{
        display: none;
    }
    #title2{
        position: relative;
        display: block;
        font-size: 2em;
    }
}